.about-image {
  width: 40vw;
}
.span-link {
  text-decoration: underline;
  font-weight: bold;
}
#about-skills {
  text-align: center;
}
#a-image .content {
  text-align: center;
  margin-top: 2vh;
}
