#skills {
  text-align: center;
}
.skill-list {
  text-align: center;
  list-style: none;
  padding: 0;
}
#skills .content {
  margin-bottom: 1vh;
}
.skill-img {
  width: 6vw;
  margin-bottom: 2vh;
}
#skills hr {
  width: 8vw;
}
